<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Registrazione Utente</title>
	</head>
	<body>
		<form method="post" th:object="${utente}">
			<input type="text" th:field="*{nome}" required>
			<br>
			<input type="number" th:field="*{eta}" required>
			<br>
			<input type="text" th:field="*{username}" required>
			<br>
			<input type="password" th:field="*{password}" required>
			<br>
			<input type="submit" value="Registra Utente">
		</form>
	</body>
</html>